html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", Verdana, sans-serif;
  color: #353A5A;
  margin: 0 auto;
}

h1 {
  display: none;
}

h2 {
  font-size: 58px;
  font-weight: 500;
  line-height: 70px;
  color: white;
}

.button {
  width: 230px;
  height: 56px;
  border-style: none;
  border-radius: 0 20px 0 20px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: center;
  background: #10B582;
  color: white;
  cursor: pointer;
}

.button--accent {
  background: #FA9F42;
}

.page__header {
  background: #10B582;
  padding-top: 40px;
  height: 24px;
}

.page-header_wrapper {
  display: flex;
}

.main-navigation--vertical {
  margin: auto;
}
.main-navigation--vertical .site-navigation {
  display: flex;
  margin: auto;
  padding: 0;
  gap: 40px;
}
.main-navigation--vertical .site-navigation .site-navigation__item {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
}
.main-navigation--vertical .site-navigation .site-navigation__link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .page__header {
    background: #10B582;
    padding-top: 40px;
    height: fit-content;
  }
  .page-header_wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-navigation--vertical {
    margin: 0;
  }
  .main-navigation--vertical .site-navigation {
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    align-content: end;
    align-items: end;
    padding-right: 30px;
  }
}
.wrapper {
  max-width: 1170px;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .wrapper {
    width: 95%;
  }
}
.page-footer_wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  max-width: 1440px;
}
.page-footer_wrapper .page-footer__row {
  display: flex;
}
.page-footer_wrapper .page-footer__row .page-footer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  width: 270px;
  margin: 0;
  padding: 27px 100px 47px 0;
}
.page-footer_wrapper .page-footer__row .page-footer__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation {
  display: flex;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .block-education {
  width: 89px;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .block-about {
  width: 121px;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .block-contacts {
  width: 132px;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .block-mail {
  width: 182px;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .service-navigation__column {
  padding-right: 111px;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .service-navigation__column .service-navigation__category {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 31px;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .service-navigation__column .service-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-footer_wrapper .page-footer__row .page-footer__navigation .service-navigation__column .service-navigation__list .service-navigation__link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
  text-decoration: none;
  padding-bottom: 20px;
}
.page-footer_wrapper .page-footer__row .page-footer__social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-footer_wrapper .page-footer__row .page-footer__social .social__item {
  padding-right: 25px;
}
.page-footer_wrapper .page-footer__row .page-footer__link {
  text-decoration: none;
  color: #353A5A;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.page-footer_wrapper .page-footer__row .page-footer__mail {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 30px;
  margin: 0;
  width: 182px;
}
.page-footer_wrapper .footer-bottom {
  justify-content: space-between;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.page-footer_wrapper .footer-bottom .page-footer__copyright {
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .page-footer__navigation, .page-footer__row {
    flex-direction: column;
  }
}
.promo {
  background: #10B582;
  padding-top: 56px;
}
.promo .social {
  list-style: none;
}
.promo .social--vertical {
  display: flex;
  flex-direction: column;
  padding: 0 0 74px 0;
  gap: 30px;
  margin: 0;
}
.promo .promo__content {
  display: flex;
  gap: 44px;
}
.promo .promo__content .offer__img {
  max-width: 100%;
  height: auto;
}

.offer--align-left {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.offer--align-center {
  max-width: 542px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
}
.offer--align-center h2 {
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.offer--align-center .offer__description {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 20px 0 50px 0;
  max-width: 385px;
  margin: 0;
}

.offer--align-right {
  display: flex;
  flex-direction: column;
}
.offer--align-right .offer__link-down {
  align-self: end;
  padding-top: 101px;
  text-decoration: none;
  writing-mode: sideways-lr;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .promo {
    padding-top: 30px;
  }
  .promo .promo__content {
    flex-direction: column;
  }
  .promo .promo__content .social--vertical {
    margin: 0 auto;
    flex-direction: row;
    padding: 0 0 37px 0;
  }
  .promo .offer__img {
    width: 80%;
    margin: 0 auto;
  }
  .promo .offer--align-left {
    display: none;
  }
  .promo .offer--align-center {
    padding: 0;
  }
  .promo .offer--align-center h2 {
    font-size: 10vw;
  }
  .promo .offer--align-right {
    padding-bottom: 92px;
  }
  .promo .offer--align-right .offer__link-down {
    display: none;
  }
}
.statistics__list {
  margin: auto;
  display: flex;
  padding-top: 120px;
  gap: 30px;
}
.statistics__list .statistics__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}
.statistics__list .statistics__item .statistics__indicator {
  color: #10B582;
  font-weight: 500;
  font-size: 5.8rem;
  line-height: 100%;
  padding-bottom: 15px;
  margin: 0 auto;
}
.statistics__list .statistics__item .statistics__description {
  color: #353A5A;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .statistics__list {
    flex-direction: column;
  }
  .statistics__list .statistics__item {
    align-self: center;
  }
}
.teachers__wrapper {
  display: flex;
  padding-top: 120px;
}
.teachers__wrapper .card__description-column {
  padding: 65px 100px 0 0;
  margin: 0;
}
.teachers__wrapper .card__description-column h2 {
  color: #353A5A;
  margin: 0;
}
.teachers__wrapper .card__description-column .offer__description {
  width: 500px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}
.teachers__wrapper .card__description-column .offer__button {
  margin-top: 50px;
}
.teachers__wrapper .teachers__img-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -30px -30px 0;
  padding-bottom: 120px;
}
.teachers__wrapper .teachers__img-column .teachers__card {
  margin: 0 30px 30px 0;
  padding: 0;
}
.teachers__wrapper .teachers__img-column .teachers__card .teachers__caption {
  width: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  text-align: center;
  padding-top: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .teachers {
    height: fit-content;
  }
  .teachers .teachers__wrapper {
    flex-direction: column;
  }
  .teachers .teachers__wrapper .card__description-column {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .teachers .teachers__wrapper .card__description-column h2 {
    font-size: 10vw;
    margin: 0 auto;
    text-align: center;
  }
  .teachers .teachers__wrapper .card__description-column .offer__description {
    width: 90%;
    margin: 0 auto;
  }
  .teachers .teachers__wrapper .card__description-column .offer__button {
    align-self: center;
  }
  .teachers .teachers__wrapper .teachers__img-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 120px 0 120px 0;
    gap: 10px;
    justify-content: space-between;
  }
  .teachers .teachers__wrapper .teachers__img-column .teachers__card {
    margin: 0;
    max-width: 100%;
    height: auto;
  }
}
.product {
  background: #10B582;
  padding-top: 120px;
  height: 500px;
}
.product .card__wrapper {
  display: flex;
}
.product .card__wrapper .card__img-column .product__dash {
  position: relative;
  left: 30px;
}
.product .card__wrapper .card__img-column .product__img {
  position: relative;
  top: -310px;
}
.product .card__wrapper .card__description-column {
  padding-left: 100px;
}
.product .card__wrapper .card__description-column .offer__title {
  margin: 0;
}
.product .card__wrapper .card__description-column .offer__description {
  padding: 20px 0 50px 0;
  margin: 0;
  width: 478px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .product {
    height: fit-content;
  }
  .product .card__wrapper {
    flex-direction: column;
  }
  .product .card__wrapper .card__img-column .product__dash {
    display: none;
  }
  .product .card__wrapper .card__img-column .product__img {
    position: unset;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
  }
  .product .card__wrapper .card__description-column {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .product .card__wrapper .card__description-column h2 {
    font-size: 10vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  .product .card__wrapper .card__description-column .offer__description {
    width: 90%;
    margin: 0 auto;
  }
  .product .card__wrapper .card__description-column .offer__button {
    align-self: center;
    margin-bottom: 50px;
  }
}
.courses__wrapper {
  display: flex;
  flex-direction: column;
}
.courses__wrapper .courses__title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  color: #353A5A;
}
.courses__wrapper .courses__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.courses__wrapper .courses__list .courses__item {
  height: 226px;
  width: 270px;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.courses__wrapper .courses__list .courses__item .courses__img {
  height: 155px;
  width: 230px;
  margin: 0 auto;
  padding-top: 20px;
}
.courses__wrapper .courses__list .courses__item .courses__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
  text-align: left;
  padding: 15px 0 0 20px;
}
.courses__wrapper .courses__button {
  margin-top: 60px;
  align-self: center;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .courses__wrapper .courses__list {
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
  .courses__wrapper .courses__title {
    font-size: 10vw;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 30px 0;
  }
}
.aside__content {
  background-image: url("../img/bg-banner.png");
  background-repeat: no-repeat;
  height: 578px;
  margin: 0 auto;
  margin-top: 120px;
  max-width: 1440px;
}
.aside__content .banner {
  background-image: url("../img/bg-banner.png");
  background-repeat: no-repeat;
  height: 578px;
  width: 100%;
  margin: 0 auto;
}
.aside__content .banner .banner__content {
  padding-left: 735px;
  width: 508px;
}
.aside__content .banner .banner__content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #353A5A;
  margin: 0;
  padding-top: 120px;
}
.aside__content .banner .banner__content .offer__description {
  line-height: 150%;
  padding: 20px 0 50px 0;
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 414px), (orientation: portrait) {
  .aside__content {
    background-image: none;
    height: fit-content;
  }
  .aside__content .banner {
    background-image: none;
    height: fit-content;
  }
  .aside__content .banner .banner__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 95%;
    margin: auto;
  }
  .aside__content .banner .banner__content .offer__title {
    font-size: 10vw;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .aside__content .banner .banner__content .offer__description {
    width: 90%;
    margin: 0 auto;
  }
  .aside__content .banner .banner__content .offer__button {
    align-self: center;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
