$color-primary: #10B582;
$color-secondary: #FA9F42;
$color-text: #353A5A;
$color-text-light: white;

$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

