.aside__content {
    background-image: url("../img/bg-banner.png");
    background-repeat: no-repeat;
    height: 578px;
    margin: 0 auto;
    margin-top: 120px;

    max-width: 1440px;

    .banner {
        background-image: url("../img/bg-banner.png");
        background-repeat: no-repeat;
        height: 578px;
        width: 100%;
        margin: 0 auto;

        .banner__content {
            padding-left: 735px;
            width: 508px;
    
            h2 {
                font-style: normal;
                font-weight: 500;
                font-size: 58px;
                line-height: 120%;
                color: $color-text;
                margin: 0;
                padding-top: 120px;
            }

            .offer__description {
                line-height: 150%;
                padding: 20px 0 50px 0;
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: $mobile-small-width) and (max-width: $mobile-big-width), (orientation: portrait) {
    .aside__content {
        background-image: none;
        height: fit-content;

        .banner {
            background-image: none;
            height: fit-content;

            .banner__content {
                display: flex;
                flex-direction: column;
                padding: 0;
                max-width: 95%;
                margin: auto;

                .offer__title {
                    font-size:10vw;
                    margin: 0 auto;
                    text-align: center;
                    padding: 0;
                }
                
                .offer__description {
                    width: 90%;
                    margin: 0 auto;
                }
                
                .offer__button {
                    align-self: center;
                    margin-bottom: 50px;
                }
            }
            
    }
    
    }
    
    
}