.product {
    background: $color-primary;
    padding-top: 120px;
    height: 500px;

    .card__wrapper {
        display: flex;

        .card__img-column {

            .product__dash {
                position: relative;
                left: 30px;
            }

            .product__img {
                position: relative;
                top: -310px;
            }
        }

        .card__description-column {
            padding-left: 100px;

            .offer__title {
                margin: 0;
            }

            .offer__description {
                padding: 20px 0 50px 0;
                margin: 0;
                width: 478px;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $color-text-light;
            }
        }
    }
}

@media only screen and (min-width: $mobile-small-width) and (max-width: $mobile-big-width), (orientation: portrait) {
    .product {
        height: fit-content;

        .card__wrapper {
            flex-direction: column;
    
            .card__img-column {
    
                .product__dash {
                    display: none;
                }
    
                .product__img {
                    position: unset;
                    max-width: 95%;
                    height:auto;
                    margin: 0 auto;
                }            
            }
    
            .card__description-column {
                padding: 0;
                display: flex;
                flex-direction: column;
                h2 {
                    font-size:10vw;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 50px;
                }
    
                .offer__description {
                    width: 90%;
                    margin: 0 auto;
                }
    
                .offer__button {
                    align-self: center;
                    margin-bottom: 50px;
                }
            }
    
            
            
        }
    }
    


}