.promo {
    background: $color-primary;
    padding-top: 56px;
    
    .social {
        list-style: none;
    }
    .social--vertical {
        display: flex;
        flex-direction: column;
        padding: 0 0 74px 0;
        gap: 30px;
        margin: 0;
    }
    
    .promo__content {
        display: flex;
        gap: 44px;

        .offer__img {
            max-width:100%;
            height:auto;
        }
    }
}

.offer--align-left {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.offer--align-center {
    max-width: 542px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;

    h2 {
        text-align: center;
        margin: 0;
        padding-top: 40px;
    }

    .offer__description {
        color: $color-text-light;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 20px 0 50px 0;
        max-width: 385px;
        margin: 0;
    }
}

.offer--align-right {
    display: flex;
    flex-direction: column;

    .offer__link-down {
        align-self: end;
        padding-top: 101px;
        text-decoration: none;
        writing-mode: sideways-lr;
        color: $color-text-light;
    }
}

@media only screen and (min-width: $mobile-small-width) and (max-width: $mobile-big-width), (orientation: portrait) {
    .promo {
        padding-top: 30px;
        .promo__content {
            flex-direction: column;
    
            .social--vertical {
                margin: 0 auto;
                flex-direction: row;
                padding: 0 0 37px 0;
            }
        }

        .offer__img {
            width: 80%;
            margin: 0 auto;
        }
    
        .offer--align-left {
            display: none;
        }
    
        .offer--align-center {
            padding: 0;
            h2 {
                font-size:10vw
            }
        }
    
        .offer--align-right {
            padding-bottom: 92px;
    
            .offer__link-down {
                display: none;
            }
    
        }
    }
    

    

    
}