.promo {
    background: $color-primary;
    padding-top: 56px;
    
    .social {
        list-style: none;
    }
    .social--vertical {
        display: flex;
        flex-direction: column;
        padding: 0 0 74px 0;
        margin: 0;
        
        .social__item {
            padding-bottom: 30px;
        }
    }
    
    .promo__content {
        display: flex;
        justify-content: space-between;
    }
}

.offer--align-left {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.offer--align-center {
    width: 542px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;

    h2 {
        text-align: center;
        margin: 0;
        padding-top: 40px;
    }

    .offer__description {
        color: $color-text-light;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 20px 0 50px 0;
        width: 385px;
        margin: 0;
    }
}

.offer--align-right {
    display: flex;
    flex-direction: column;
    .offer__link-down {
        align-self: end;
        padding-top: 101px;
        text-decoration: none;
        writing-mode: sideways-lr;
        color: $color-text-light;
    }
}