.statistics__list {
    margin: auto;
    display: flex;
    padding-top: 120px;
    gap: 30px;

    .statistics__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px;

        .statistics__indicator {
            color: $color-primary;
            font-weight: 500;
            font-size: 5.8rem;
            line-height: 100%;
            padding-bottom: 15px;
            margin: 0 auto;
        }

        .statistics__description {
            color: $color-text;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 120%;
            text-align: center;
            margin: auto;
            
        }
    }
}