html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', Verdana, sans-serif;
    color: $color-text;
    margin: 0;
    padding: 0;
}

h1 {
    display: none;
}

h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 70px;
    color: $color-text-light;
}