.page__header {
    background: $color-primary;
    padding-top: 40px;
    height: 24px;
}

.page-header_wrapper {
    display: flex;
}

.main-navigation--vertical {
    margin: auto;

    .site-navigation {
        display: flex;
        margin: auto;
        padding: 0;
        gap: 40px;
        
        .site-navigation__item {
            list-style: none;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.6rem;
            letter-spacing: 0em;
            text-align: left;
            
        }
    
        .site-navigation__link {
            text-decoration: none;
            cursor: pointer;
            color: $color-text-light;
        }

    }
}

@media only screen and (min-width: $mobile-small-width) and (max-width: $mobile-big-width), (orientation: portrait) {
    
    .page__header {
        background: $color-primary;
        padding-top: 40px;
        height: fit-content
    }
    
    .page-header_wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .main-navigation--vertical {
        margin: 0;
        .site-navigation {
            gap: 10px;
            flex-wrap: wrap;
            margin: 0 auto;
            flex-direction: column;
            
            align-content: end;
            align-items: end;
            padding-right: 30px;
        }
    }

    

    
}